node_modules
/build/

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests
coverage
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/marketplace-contracts/v16/.suo
.vscode/settings.json
.vscode/settings.json
package-lock.json
.vscode/launch.json
deploy.txt
